<div class="gallery-container">
  <div class="{{ 'header-title-' + sexFilter }}">
    <div class="gallery-title">{{sexFilter}}</div>
    <div class="paragraph"></div>
  </div>
  <div class="{{ 'nav-' + sexFilter }}">
    <div class="product-nav">
      <p class="product-page">{{ currentPage + '/' + ceilFun(products.length / 3) }}</p>
      <div class="nav-buttons">
        <button (click)="setPage('minus')" class="nav-button"> < </button>
        <button (click)="setPage('plus')" class="nav-button"> > </button>
      </div>
    </div>
  </div>
  <section *ngIf="productsArray" class="gallery-block">
    <article *ngFor="let product of productsArray[currentPage - 1]" class="products">
      <figure  class="product">
        <div class="product-header">
          <div *ngIf="product.sizes.length > 1; else showBasic" class="product-sizes">
            <label class="size-title" for="{{ 'size-for-' + product.id }}">sizes</label>
            <select id="{{ 'size-for-' + product.id }}" class="sizes">
              <option class="product-size" *ngFor="let size of product.sizes">{{ size }}</option>
            </select>
          </div>
          <ng-template #showBasic class="info-block">
            <p class="product-value">{{ product.sizes }}</p>
          </ng-template>
          <div class="product-colors">
            <div *ngFor="let color of product.colors" class="product-color {{ 'color-' + color }}"></div>
          </div>
        </div>
        <div class="product-img-container">
          <img class="product-img" src="{{'assets/images/' + product.img}}" alt="{{product.type}}">
        </div>
        <div class="product-footer">
          <h3 class="product-type">{{product.type}}</h3>
          <p class="product-price">{{product.price + '.00€'}}</p>
        </div>
        <div (click)="onSelect(product)" [class.selected]="isSelected(product)"class="product-link"></div>
      </figure>
    </article>
  </section>
</div>