
$DesktopsLaptop: ( min: 1225px, max: 1399px );

$Laptop: ( min: 1025px, max: 1224px );

$Tablet: ( min: 769px, max: 1024px );

$TabletMobile: ( min: 568px, max: 768px );

$Mobile: ( min: 320px, max: 568px );

@mixin device($device){
  @media only screen and (min-width:map-get($device, min)) and (max-width:map-get($device, max)) {
    @content;
  }
}

.main-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-color: #fff;
  width: 100%;
}
.filters-container {
  display: flex;
  justify-content: center;
  position: relative;
  background-color: #f5f6f7;
  width: 100%;
}
.filters-block {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 1090px;
  height: 143px;
  @include device($Laptop) {
    width: 1000px;
  }
  @include device($Tablet) {
    width: 769px;
  }
  @include device($TabletMobile) {
    width: 568px;
  }
  @include device($Mobile) {
    width: 320px;
  }
}
.filters-checkboxes {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 402px;
  @include device($TabletMobile) {
    justify-content: space-around;
  }
  @include device($Mobile) {
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
  }
}
.filter {
  display: flex;
  align-items: center;
}
.filters {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
}
.gallery-filter {
  color: #aa9b77;
  width: 25px;
  height: 24px;
  margin-right: 17px;
}
.filter-label {
  text-transform: uppercase;
  font-size: 18px;
  color: #333333;
  &:before {
    border: 2px solid #a99b77;
    box-sizing: border-box;
  }
  &:after{
    border: 3px solid blue;
  }
}
.filter-all {
  height: 52px;
  width: 205px;
  border-radius: 4px;
  background-color: #a99b77;
  font-size: 14px;
  color: #fff;
  cursor: pointer;
  text-transform: uppercase;
}
.sort-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  width: 1090px;
  height: 87px;
  @include device($Laptop) {
    width: 1000px;
  }
  @include device($Tablet) {
    width: 769px;
  }
  @include device($TabletMobile) {
    width: 568px;
  }
  @include device($Mobile) {
    width: 320px;
  }
}
.sort-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 175px;
}
.sort {
  width: 75px;
  text-transform: uppercase;
  font-size: 16px;
  color: #424242;
  background: #fff;
  border: 13px;
}
.sort-label {
  text-transform: uppercase;
  font-size: 20px;
  background: #f5f6f7;
}
.sort-option {
  text-transform: uppercase;
  font-size: 16px;
  color: #424242;
  background: #f5f6f7;
}